data/logs/*
data/sessions/*
data/cache/*
data/indexes/*
public/cached/*
library/Zend
/.htaccess
.sass-cache
*php_errors.log
*error_log
impresoratecnica
*php.ini
expreso
newsletter
livehelp
dumps
/scripts
