@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
/* line 17, ../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/screen.sass */
* {
  margin: 0;
  padding: 0;
}

/* line 15, ../sass/screen.sass */
html {
  overflow: auto;
}

/* line 17, ../sass/screen.sass */
body,
p {
  font: 13px "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #555555;
}

/* line 23, ../sass/screen.sass */
img.full-width {
  width: 100%;
}

/* line 26, ../sass/screen.sass */
ul {
  margin-left: 0;
}

/* line 30, ../sass/screen.sass */
.sidebar {
  padding-top: 20px;
}
/* line 32, ../sass/screen.sass */
.sidebar p {
  padding-bottom: 20px;
}
/* line 34, ../sass/screen.sass */
.sidebar p#brochure {
  padding: 15px 10px 10px 65px;
  background: url(/img/pdf.png) no-repeat 5px 12px;
  min-height: 48px;
}
/* line 38, ../sass/screen.sass */
.sidebar p#brochure a {
  display: block;
}
/* line 40, ../sass/screen.sass */
.sidebar p#brochure a:hover {
  text-decoration: none;
}
/* line 42, ../sass/screen.sass */
.sidebar h4 {
  font-size: 16px;
  line-height: 17px;
  margin-bottom: 0px;
  font-weight: bold;
}

/* line 47, ../sass/screen.sass */
.content {
  padding-top: 20px;
  font-family: "Lato", sans-serif;
  /* Form */
}
/* line 50, ../sass/screen.sass */
.content [class*="span"] {
  margin-left: 0;
  margin-right: 20px;
}
/* line 53, ../sass/screen.sass */
.content [class*="span"].last {
  margin-right: 0;
}
/* line 55, ../sass/screen.sass */
.content p {
  margin-bottom: 20px;
  line-height: 1.8em;
}
/* line 58, ../sass/screen.sass */
.content .hr {
  width: 100%;
  margin-top: 0px;
}
/* line 61, ../sass/screen.sass */
.content h1 {
  font-size: 25px;
  color: #346b9e;
  line-height: 27px;
  margin-top: 15px;
}
/* line 66, ../sass/screen.sass */
.content h3 {
  font-size: 18px;
  color: #346b9e;
  line-height: 22px;
  margin-top: 10px;
  font-weight: bold;
}
/* line 73, ../sass/screen.sass */
.content h4 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
/* line 77, ../sass/screen.sass */
.content h5 {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 20px;
}
/* line 81, ../sass/screen.sass */
.content .row {
  margin-left: 0;
}
/* line 83, ../sass/screen.sass */
.content .row [class*="span"] {
  margin-right: 10px;
}
/* line 85, ../sass/screen.sass */
.content .row [class*="span"].last {
  margin-right: 0;
}
/* line 88, ../sass/screen.sass */
.content label {
  font-weight: bold;
  color: black;
}
/* line 91, ../sass/screen.sass */
.content label span.required {
  color: red;
}
/* line 94, ../sass/screen.sass */
.content fieldset {
  padding: 25px;
  margin: 0 0 20px 0;
  border: 1px solid #efefef;
}
/* line 98, ../sass/screen.sass */
.content legend {
  font-weight: bold;
}
/* line 100, ../sass/screen.sass */
.content form p {
  margin-bottom: 10px;
}
/* line 103, ../sass/screen.sass */
.content input[type=text], .content input[type=password], .content input.text, .content textarea {
  background-color: white;
  border: 1px solid #e1e1e1;
}
/* line 106, ../sass/screen.sass */
.content input[type=text]:focus, .content input[type=password]:focus, .content input.text:focus, .content textarea:focus {
  border-color: #cccccc;
}
/* line 108, ../sass/screen.sass */
.content select {
  border-width: 1px;
  border-style: solid;
  background-color: white;
}
/* line 113, ../sass/screen.sass */
.content input[type=text], .content input[type=password], .content input.text, .content textarea, .content select {
  margin: 5px 0;
}
/* line 116, ../sass/screen.sass */
.content input.text {
  width: 250px;
  padding: 5px;
}
/* line 119, ../sass/screen.sass */
.content textarea {
  width: 380px;
  height: 125px;
  padding: 5px;
}
/* line 124, ../sass/screen.sass */
.content .errormsg, .content .successmsg, .content .infomsg, .content .noticemsg {
  padding: 10px 10px 10px 40px;
  margin-bottom: 10px;
  border: 1px solid #dddddd;
  border-left-width: 5px;
}
/* line 129, ../sass/screen.sass */
.content .errormsg {
  border-color: #fbc2c4;
  background: #fbe3e4 url(images/bg-msg.png) no-repeat 0 0;
  color: #8a1f11;
}
/* line 133, ../sass/screen.sass */
.content .errormsg a {
  color: #8a1f11;
}
/* line 135, ../sass/screen.sass */
.content .successmsg {
  border-color: #c6d880;
  background: #e6efc2 url(images/bg-msg.png) no-repeat 0 -220px;
  color: #264409;
}
/* line 139, ../sass/screen.sass */
.content .successmsg a {
  color: #264409;
}
/* line 141, ../sass/screen.sass */
.content .infomsg {
  border-color: #92cae4;
  background: #d5edf8 url(images/bg-msg.png) no-repeat 0 -72px;
  color: #205791;
}
/* line 145, ../sass/screen.sass */
.content .infomsg a {
  color: #205791;
}
/* line 147, ../sass/screen.sass */
.content .noticemsg {
  border-color: #ffd324;
  background: #fff6bf url(images/bg-msg.png) no-repeat 0 -148px;
  color: #514721;
}
/* line 151, ../sass/screen.sass */
.content .noticemsg a {
  color: #514721;
}

/* line 154, ../sass/screen.sass */
ul.checklist {
  float: left;
  list-style-image: url(/img/tick.png);
  list-style-type: circle;
  list-style-position: outside;
  margin-bottom: 20px;
  margin-left: 20px;
}
/* line 162, ../sass/screen.sass */
ul.checklist li p {
  padding-left: 20px;
}

/* line 165, ../sass/screen.sass */
blockquote {
  padding: 1px 20px 5px 60px;
  background: url(/img/blockquote.png) no-repeat top left;
}
/* line 168, ../sass/screen.sass */
blockquote p {
  line-height: 24px;
  font-size: 1em;
  color: #999999;
  margin-bottom: 20px;
}
/* line 173, ../sass/screen.sass */
blockquote p span.author {
  color: #666666;
}

/* line 175, ../sass/screen.sass */
blockquote,
p {
  quotes: "" "";
}
/* line 178, ../sass/screen.sass */
blockquote strong,
p strong {
  color: #333333;
}

/* line 181, ../sass/screen.sass */
strong {
  color: #333333;
  font-weight: bold;
}

/* line 185, ../sass/screen.sass */
#wrapper {
  background: #d8d7d3 url(../images/wrapper-background.png) repeat top left;
}
/* line 187, ../sass/screen.sass */
#wrapper #page {
  width: 1000px;
  margin: 0 auto;
  background: white;
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.2);
}
/* line 197, ../sass/screen.sass */
#wrapper #page .wrap {
  padding: 0 60px;
}

/* line 199, ../sass/screen.sass */
a {
  color: #346b8e;
}

/* line 202, ../sass/screen.sass */
a.more-link {
  border-bottom: 1px dotted #e6e6e6;
  padding-bottom: 5px;
}

/* line 207, ../sass/screen.sass */
.jumbo h1,
.jumbo h2,
.jumbo h3,
.jumbo h4,
.jumbo h5,
.jumbo h6 {
  font-weight: bold;
  font-family: "Lato", sans-serif;
}
/* line 215, ../sass/screen.sass */
.jumbo h1 {
  font-size: 24px;
}
/* line 217, ../sass/screen.sass */
.jumbo h2 {
  font-size: 14px;
}
/* line 219, ../sass/screen.sass */
.jumbo h3 {
  font-size: 18px;
  font-weight: normal;
}

/* line 223, ../sass/screen.sass */
.header {
  padding-top: 30px;
  margin-bottom: -1px;
}
/* line 226, ../sass/screen.sass */
.header #logo {
  float: left;
}
/* line 228, ../sass/screen.sass */
.header #logo h1 {
  width: 205px;
  height: 70px;
}
/* line 231, ../sass/screen.sass */
.header #logo h1 a {
  background: url(/img/logo.png) no-repeat top left;
  display: block;
  width: 205px;
  height: 70px;
}
/* line 236, ../sass/screen.sass */
.header #logo h1 a span {
  visibility: hidden;
}

/* line 239, ../sass/screen.sass */
.carousel {
  margin-bottom: 0;
}
/* line 241, ../sass/screen.sass */
.carousel img {
  width: 100%;
}
/* line 244, ../sass/screen.sass */
.carousel .carousel-caption h4 {
  font-size: 14px;
  font-weight: bold;
}

/* line 248, ../sass/screen.sass */
.jumbo {
  width: 100%;
  float: left;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  margin: 0 -60px 0 -60px;
  padding: 30px 60px;
  background: #f9f9f9;
}

/* line 266, ../sass/screen.sass */
#services {
  float: left;
  padding: 30px 0;
  width: 100%;
}

/* line 270, ../sass/screen.sass */
#services-overview {
  padding-top: 20px;
  float: left;
}
/* line 273, ../sass/screen.sass */
#services-overview .span9 {
  margin-left: 0;
}

/* line 275, ../sass/screen.sass */
.service {
  margin-bottom: 20px;
}
/* line 277, ../sass/screen.sass */
.service h5 {
  text-transform: none;
  padding-left: 30px;
  min-height: 20px;
  line-height: 20px;
  vertical-align: middle;
  margin-bottom: 8px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 14px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: top left;
}
/* line 290, ../sass/screen.sass */
.service h5 a {
  text-decoration: none;
  color: #555555;
}
/* line 293, ../sass/screen.sass */
.service h5 a:hover {
  text-decoration: none;
}
/* line 295, ../sass/screen.sass */
.service .sitios-web {
  background-image: url(/img/icons/web-site.png);
}
/* line 297, ../sass/screen.sass */
.service .redes-sociales {
  background-image: url(/img/icons/social-networks.png);
}
/* line 299, ../sass/screen.sass */
.service .web-marketing {
  background-image: url(/img/icons/web-marketing.png);
}
/* line 301, ../sass/screen.sass */
.service .web-analytics {
  background-image: url(/img/icons/web-analytics.png);
}
/* line 303, ../sass/screen.sass */
.service .google {
  background-image: url(/img/icons/google-icon.png);
}
/* line 305, ../sass/screen.sass */
.service .facebook {
  background-image: url(/img/icons/facebook-icon.png);
}
/* line 307, ../sass/screen.sass */
.service .email-marketing {
  background-image: url(/img/icons/email-marketing.png);
}
/* line 309, ../sass/screen.sass */
.service p {
  margin-bottom: 20px;
  padding-right: 10px;
}
/* line 312, ../sass/screen.sass */
.service ul {
  list-style-type: none;
  list-style-position: outside;
  margin-bottom: 20px;
  list-style: none;
  border-top: 1px dotted #f0f0f0;
}
/* line 318, ../sass/screen.sass */
.service ul li {
  border-bottom: 1px dotted #f0f0f0;
  padding: 5px;
}

/* line 323, ../sass/screen.sass */
.heading h3 {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 15px;
  margin: 0 0 30px 0;
  text-transform: uppercase;
}

/* line 332, ../sass/screen.sass */
#team h3 {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 10px;
  font-family: "Lato", sans-serif;
  font-weight: normal;
}
/* line 338, ../sass/screen.sass */
#team a {
  color: #333333;
}
/* line 341, ../sass/screen.sass */
#team .team-social img.profile {
  border: 1px solid #dddddd;
  padding: 3px;
}
/* line 344, ../sass/screen.sass */
#team .team-social ul {
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 20px;
}
/* line 348, ../sass/screen.sass */
#team .team-social ul li {
  display: inline-block;
  margin-right: 10px;
}

/* line 355, ../sass/screen.sass */
#price-table table thead th {
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
}
/* line 359, ../sass/screen.sass */
#price-table table thead th .heading {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  display: block;
}
/* line 365, ../sass/screen.sass */
#price-table table thead th sup {
  top: 0;
}
/* line 368, ../sass/screen.sass */
#price-table table tbody td {
  padding: 10px 15px;
  text-align: center;
}
/* line 371, ../sass/screen.sass */
#price-table table tbody td.feature {
  text-align: right;
}
/* line 374, ../sass/screen.sass */
#price-table table tfoot td {
  text-align: center;
}

/* line 377, ../sass/screen.sass */
.preview {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
/* line 381, ../sass/screen.sass */
.preview img {
  min-width: 100%;
}
/* line 383, ../sass/screen.sass */
.preview .options {
  background: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
/* line 390, ../sass/screen.sass */
.preview .options .lightbox {
  display: block;
  position: absolute;
  bottom: 10px;
  right: 37px;
  width: 26px;
  height: 26px;
  background: url(/img/preview-options.png) no-repeat 0 0;
  text-indent: -9999px;
  cursor: pointer;
  opacity: 0.8;
}
/* line 401, ../sass/screen.sass */
.preview .options .view {
  display: block;
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 28px;
  height: 26px;
  background: url(/img/preview-options.png) no-repeat 0 -82px;
  text-indent: -9999px;
  cursor: pointer;
  opacity: 0.8;
}
/* line 412, ../sass/screen.sass */
.preview p {
  margin-bottom: 0;
}

/* line 416, ../sass/screen.sass */
.box h3 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* line 421, ../sass/screen.sass */
#clients {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}
/* line 425, ../sass/screen.sass */
#clients p {
  margin-bottom: 20px;
}

/* line 430, ../sass/screen.sass */
#clients-list #full-clients-list ul {
  float: left;
  margin-bottom: 20px;
}
/* line 433, ../sass/screen.sass */
#clients-list #full-clients-list ul li {
  padding: 10px 0;
}

/* line 436, ../sass/screen.sass */
#projects {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}
/* line 440, ../sass/screen.sass */
#projects p {
  margin-bottom: 20px;
}

/* line 444, ../sass/screen.sass */
#social-stream #social-stream-container {
  background-size: 100%;
  padding-bottom: 15px;
}
/* line 447, ../sass/screen.sass */
#social-stream #social-stream-container ul {
  padding: 10px;
  border: 1px solid #dddddd;
  background-color: white;
  min-height: 84px;
  float: left;
}
/* line 453, ../sass/screen.sass */
#social-stream #social-stream-container ul li {
  display: inline-block;
  margin-bottom: 10px;
  float: left;
}
/* line 457, ../sass/screen.sass */
#social-stream #social-stream-container ul li img {
  float: left;
  margin-right: 5px;
  width: 18px;
  height: 18px;
}
/* line 463, ../sass/screen.sass */
#social-stream .social-icons li {
  display: inline-block;
  vertical-align: middle;
  padding-top: 5px;
  padding-right: 5px;
  font-size: 12px;
}
/* line 469, ../sass/screen.sass */
#social-stream .social-icons li img {
  display: block;
  float: left;
  margin-right: 5px;
}

/* line 474, ../sass/screen.sass */
.sidebar .nav {
  list-style-type: none;
  list-style-position: outside;
  border-top: 1px solid #efefef;
  margin-bottom: 20px;
}
/* line 479, ../sass/screen.sass */
.sidebar .nav li {
  border-bottom: 1px solid #efefef;
}
/* line 481, ../sass/screen.sass */
.sidebar .nav li a {
  display: block;
  padding: 15px 0 15px 25px;
  background: white url(/img/sidenav.gif) no-repeat 10px 17px;
  color: #346b8e;
}
/* line 486, ../sass/screen.sass */
.sidebar .nav li a:hover {
  background: #f9f9f9;
}
/* line 489, ../sass/screen.sass */
.sidebar .nav li.active a {
  font-weight: bold;
  color: #333333;
}

/* line 493, ../sass/screen.sass */
.header .nav {
  margin-bottom: 0;
  clear: both;
}
/* line 496, ../sass/screen.sass */
.header .nav .navbar {
  margin-bottom: 0;
  color: #346b8e;
  font-size: 15px;
  color: #333333;
  font-family: "Lato", sans-serif;
  float: right;
}
/* line 504, ../sass/screen.sass */
.header .nav .navbar ul.nav li {
  text-align: left;
}
/* line 506, ../sass/screen.sass */
.header .nav .navbar ul.nav li a {
  padding: 7px 31px 30px 0;
  color: #333333;
  text-shadow: none;
  display: block;
}
/* line 511, ../sass/screen.sass */
.header .nav .navbar ul.nav li a.active {
  color: #346b8e;
}
/* line 513, ../sass/screen.sass */
.header .nav .navbar ul.nav li a:hover {
  color: #346b8e;
}
/* line 515, ../sass/screen.sass */
.header .nav .navbar ul.nav li .dropdown-menu {
  left: 0;
  border-radius: 0;
  border-color: #dddddd;
  padding: 0;
  margin-top: 0;
  /*display: none */
}
/* line 523, ../sass/screen.sass */
.header .nav .navbar ul.nav li .dropdown-menu li a {
  padding: 5px 10px !important;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: white;
}
/* line 529, ../sass/screen.sass */
.header .nav .navbar ul.nav li:last-child a {
  padding: 7px 0 30px 0;
}
/* line 532, ../sass/screen.sass */
.header .nav .navbar ul.nav li:hover .dropdown-menu {
  top: 55px;
  margin-top: 0;
  display: block;
}
/* line 537, ../sass/screen.sass */
.header .nav .navbar ul.nav li:hover .dropdown-menu li a:hover {
  background: #f9f9f9;
  border-bottom-color: #f0f0f0;
}
/* line 541, ../sass/screen.sass */
.header .nav .navbar ul.nav li:hover .dropdown-menu li.active a {
  color: white;
  background: #346b8e;
}
/* line 544, ../sass/screen.sass */
.header .nav .navbar ul.nav li:hover .dropdown-menu li.active a:hover {
  background: #346b8e;
}
/* line 547, ../sass/screen.sass */
.header .nav .navbar ul.nav li.active a {
  border-bottom: 1px solid #f0f0f0;
  background: white;
  color: #346b8e;
}
/* line 551, ../sass/screen.sass */
.header .nav .navbar ul.nav li.active a:hover {
  color: #346b8e;
}
/* line 553, ../sass/screen.sass */
.header .nav .navbar ul::before {
  border: none;
}
/* line 555, ../sass/screen.sass */
.header .nav .navbar ul::after {
  border: none;
}

/* line 560, ../sass/screen.sass */
#get-in-touch p {
  margin-bottom: 20px;
}

/* line 566, ../sass/screen.sass */
#hosting-features [class*="span"] p img {
  margin-right: 10px;
  float: left;
}
/* line 569, ../sass/screen.sass */
#hosting-features [class*="span"] p strong {
  display: block;
  margin-bottom: 5px;
}

/* line 573, ../sass/screen.sass */
.footer {
  background: #f9f9f9;
  padding: 30px 0;
  border-top: 1px solid #f0f0f0;
}
/* line 577, ../sass/screen.sass */
.footer h5 {
  font-weight: bold;
  color: #333333;
  margin-bottom: 20px;
  line-height: 20px;
  text-transform: uppercase;
}
/* line 584, ../sass/screen.sass */
.footer #brief img {
  float: left;
  margin: 0 15px;
  border: none;
  text-decoration: none;
}
/* line 589, ../sass/screen.sass */
.footer #brief a {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
/* line 594, ../sass/screen.sass */
.footer #newsletter p {
  margin-bottom: 20px;
}
/* line 598, ../sass/screen.sass */
.footer #contact-info .vcard .fn {
  font-weight: bold;
}
/* line 601, ../sass/screen.sass */
.footer #contact-info .vcard .adr .street-address {
  display: block;
  width: 100%;
}
/* line 604, ../sass/screen.sass */
.footer #contact-info .vcard .adr .locality {
  margin-right: 5px;
}
/* line 606, ../sass/screen.sass */
.footer #contact-info .vcard .adr .country {
  display: block;
  width: 100%;
}
/* line 609, ../sass/screen.sass */
.footer .hr {
  margin-left: 20px;
  float: left;
}
/* line 614, ../sass/screen.sass */
.footer #footnav ul.nav li {
  display: inline-block;
  margin-right: 15px;
}
/* line 617, ../sass/screen.sass */
.footer #footnav ul.nav li a {
  padding: 0 10px;
}
/* line 619, ../sass/screen.sass */
.footer #footnav ul.nav li a:hover {
  background: none;
  text-decoration: underline;
}
/* line 622, ../sass/screen.sass */
.footer #footnav ul.nav li:last-child {
  margin-right: 0;
}
/* line 624, ../sass/screen.sass */
.footer #footnav ul.nav li:last-child a {
  padding: 0;
}
/* line 626, ../sass/screen.sass */
.footer #standards {
  margin-bottom: 20px;
}
/* line 628, ../sass/screen.sass */
.footer #standards li {
  display: inline-block;
  padding: 0 10px;
}
/* line 631, ../sass/screen.sass */
.footer #standards li a {
  display: block;
}

/* line 634, ../sass/screen.sass */
.hr {
  border-top: 1px solid #e6e6e6;
  margin: 30px 0 30px 30px;
  float: left;
  margin-left: 0;
}

/* Portrait phone */
@media (max-width: 320px) {
  /* line 643, ../sass/screen.sass */
  #wrapper #page {
    width: 100%;
  }
  /* line 645, ../sass/screen.sass */
  #wrapper #page .wrap {
    padding: 0;
  }
  /* line 647, ../sass/screen.sass */
  #wrapper #page .wrap .jumbo {
    margin: 0;
    padding: 0;
  }
  /* line 650, ../sass/screen.sass */
  #wrapper #page .wrap .box {
    padding: 10px;
  }
  /* line 652, ../sass/screen.sass */
  #wrapper #page .wrap #get-in-touch {
    float: left;
  }

  /* line 655, ../sass/screen.sass */
  #logo h3 {
    width: 100%;
  }
  /* line 657, ../sass/screen.sass */
  #logo h3 a {
    width: 100%;
    background-size: 100%;
  }

  /* line 661, ../sass/screen.sass */
  .header .nav {
    width: 100%;
  }
  /* line 663, ../sass/screen.sass */
  .header .nav ul.nav {
    padding: 10px;
  }
  /* line 665, ../sass/screen.sass */
  .header .nav ul.nav li {
    padding: inherit;
  }
  /* line 667, ../sass/screen.sass */
  .header .nav ul.nav li > a {
    padding: 5px 10px !important;
  }

  /* line 670, ../sass/screen.sass */
  .heading h3 {
    margin-left: 10px;
  }
}
/* Portrait iPhone */
@media (max-width: 480px) {
  /* line 677, ../sass/screen.sass */
  #wrapper #page {
    width: 100%;
  }
  /* line 679, ../sass/screen.sass */
  #wrapper #page .wrap {
    padding: 0;
  }
  /* line 681, ../sass/screen.sass */
  #wrapper #page .wrap .jumbo {
    margin: 0;
    padding: 0;
  }
  /* line 684, ../sass/screen.sass */
  #wrapper #page .wrap .box {
    padding: 10px;
  }
  /* line 686, ../sass/screen.sass */
  #wrapper #page .wrap #get-in-touch {
    float: right;
  }

  /* line 689, ../sass/screen.sass */
  #logo h3 {
    width: 100%;
  }
  /* line 691, ../sass/screen.sass */
  #logo h3 a {
    width: 100%;
    background-size: 100%;
  }

  /* line 695, ../sass/screen.sass */
  .header .nav {
    width: 100%;
  }
  /* line 697, ../sass/screen.sass */
  .header .nav .navbar {
    width: 100%;
  }
  /* line 699, ../sass/screen.sass */
  .header .nav ul.nav {
    padding: 10px;
  }
  /* line 702, ../sass/screen.sass */
  .header .nav ul.nav li {
    padding: inherit;
  }
  /* line 704, ../sass/screen.sass */
  .header .nav ul.nav li > a {
    padding: 5px 10px !important;
  }

  /* line 707, ../sass/screen.sass */
  .heading h3 {
    margin-left: 10px;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  /* line 713, ../sass/screen.sass */
  #wrapper #page {
    width: 100%;
  }
  /* line 715, ../sass/screen.sass */
  #wrapper #page .wrap {
    padding: 0;
  }
  /* line 717, ../sass/screen.sass */
  #wrapper #page .wrap #get-in-touch {
    float: left;
  }

  /* line 720, ../sass/screen.sass */
  .header .nav {
    width: 100%;
  }
  /* line 722, ../sass/screen.sass */
  .header .nav .navbar {
    width: 100%;
  }
  /* line 724, ../sass/screen.sass */
  .header .nav ul.nav {
    padding: 10px;
  }
  /* line 726, ../sass/screen.sass */
  .header .nav ul.nav li {
    padding: inherit;
  }
  /* line 728, ../sass/screen.sass */
  .header .nav ul.nav li > a {
    padding: 5px 10px !important;
  }

  /* line 731, ../sass/screen.sass */
  .heading h3 {
    margin-left: 10px;
  }
}
/* Tablet landscape */
@media (max-width: 1024px) {
  /* line 737, ../sass/screen.sass */
  #wrapper #page {
    width: 100%;
  }
  /* line 739, ../sass/screen.sass */
  #wrapper #page .wrap {
    padding: 0;
  }
  /* line 741, ../sass/screen.sass */
  #wrapper #page .wrap .jumbo {
    padding-left: 40px;
    padding-right: 40px;
    margin-left: -40px;
    margin-right: -40px;
  }

  /* line 747, ../sass/screen.sass */
  .header .nav {
    width: 100%;
  }
  /* line 749, ../sass/screen.sass */
  .header .nav .navbar {
    width: 100%;
  }
  /* line 751, ../sass/screen.sass */
  .header .nav ul.nav {
    padding: 10px;
  }
  /* line 753, ../sass/screen.sass */
  .header .nav ul.nav li {
    padding: inherit;
  }
  /* line 755, ../sass/screen.sass */
  .header .nav ul.nav li > a {
    padding: 5px 10px !important;
  }

  /* line 758, ../sass/screen.sass */
  .heading h3 {
    margin-left: 10px;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  /* line 764, ../sass/screen.sass */
  #wrapper #page {
    width: 100%;
  }
  /* line 766, ../sass/screen.sass */
  #wrapper #page .wrap {
    padding: 0;
  }
  /* line 768, ../sass/screen.sass */
  #wrapper #page .wrap .jumbo {
    margin: 0;
    padding: 0;
  }
  /* line 771, ../sass/screen.sass */
  #wrapper #page .wrap .box {
    padding: 10px;
  }

  /* line 774, ../sass/screen.sass */
  .header .nav {
    width: 100%;
  }
  /* line 776, ../sass/screen.sass */
  .header .nav .navbar {
    width: 100%;
  }
  /* line 778, ../sass/screen.sass */
  .header .nav ul.nav {
    padding: 10px;
  }
  /* line 780, ../sass/screen.sass */
  .header .nav ul.nav li {
    padding: inherit;
  }
  /* line 782, ../sass/screen.sass */
  .header .nav ul.nav li > a {
    padding: 5px 10px !important;
  }

  /* line 785, ../sass/screen.sass */
  .heading h3 {
    margin-left: 10px;
  }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 791, ../sass/screen.sass */
  #wrapper #page {
    width: 100%;
  }
  /* line 793, ../sass/screen.sass */
  #wrapper #page .wrap {
    padding: 0;
  }
  /* line 795, ../sass/screen.sass */
  #wrapper #page .wrap .jumbo {
    padding-right: 40px;
    padding-left: 40px;
    margin-left: -40px;
    margin-right: -40px;
  }

  /* line 801, ../sass/screen.sass */
  .header .nav {
    width: 100%;
  }
  /* line 803, ../sass/screen.sass */
  .header .nav .navbar {
    width: 100%;
  }
  /* line 805, ../sass/screen.sass */
  .header .nav ul.nav {
    padding: 10px;
  }
  /* line 807, ../sass/screen.sass */
  .header .nav ul.nav li {
    padding: inherit;
  }
  /* line 809, ../sass/screen.sass */
  .header .nav ul.nav li > a {
    padding: 5px 10px !important;
  }
}
@media (min-width: 768px) and (orientation: portrait) {
  /* line 816, ../sass/screen.sass */
  #wrapper #page .wrap .jumbo {
    padding-right: 20px;
    padding-left: 20px;
    margin-right: -20px;
    margin-left: -20px;
  }
}
/* Large desktop */
@media (min-width: 1200px) {
  /* line 825, ../sass/screen.sass */
  #wrapper #page {
    width: 1000px;
  }
}
/* line 829, ../sass/screen.sass */
.pp_overlay {
  width: 100% !important;
}

/* @media screen and (min-width: 1200px) */
/*	.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container, .span12 */
/*		width: 880px */
/* line 836, ../sass/screen.sass */
#description {
  display: none;
  margin: 20px 0 15px 0;
}
/* line 839, ../sass/screen.sass */
#description h1 {
  font-family: "Droid Sans", sans-serif;
  font-weight: 700;
  font-size: 2.3em;
  margin-bottom: 15px;
}
/* line 844, ../sass/screen.sass */
#description p {
  padding-bottom: 20px;
  font-size: 1.2em;
}

/* line 849, ../sass/screen.sass */
#services-web-hosting h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

/* line 855, ../sass/screen.sass */
.center h1, .center h2, .center h3, .center h4, .center h5, .center h6, .center p {
  text-align: center;
}
/* line 857, ../sass/screen.sass */
.center h3 {
  line-height: 1.5em;
}

@media (max-width: 1024px) {
  /* line 861, ../sass/screen.sass */
  #wrapper #page .wrap .jumbo {
    padding: 0;
    margin: 0;
  }

  /* line 864, ../sass/screen.sass */
  #logo {
    width: 100%;
  }
  /* line 866, ../sass/screen.sass */
  #logo h1 {
    margin: 0 auto;
  }
}
@media (max-width: 979px) and (min-width: 768px) {
  /* line 871, ../sass/screen.sass */
  .header .span3 {
    width: 100%;
  }
  /* line 873, ../sass/screen.sass */
  .header .span9 {
    width: inherit;
  }
  /* line 875, ../sass/screen.sass */
  .header #logo {
    width: 100%;
  }
  /* line 877, ../sass/screen.sass */
  .header #logo h1 {
    margin: 0 auto;
  }
  /* line 880, ../sass/screen.sass */
  .header .navbar ul.nav {
    margin: 0;
  }
  /* line 882, ../sass/screen.sass */
  .header .navbar ul.nav li {
    padding: 0;
  }
  /* line 884, ../sass/screen.sass */
  .header .navbar ul.nav li > a {
    padding: 7px 31px 30px 0 !important;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  /* line 889, ../sass/screen.sass */
  .header .navbar ul.nav {
    text-align: center;
  }
  /* line 891, ../sass/screen.sass */
  .header .navbar ul.nav li {
    padding: 0;
  }
  /* line 893, ../sass/screen.sass */
  .header .navbar ul.nav li > a {
    padding: 7px 31px 30px 0 !important;
  }
}
/* Profile */
/* line 900, ../sass/screen.sass */
ul.checklist.fin {
  list-style-image: url(../images/fin.png);
}

/* Live Help */
/* line 905, ../sass/screen.sass */
div.livehelp-container h5 {
  margin: 10px 0;
}
/* line 907, ../sass/screen.sass */
div.livehelp-container p {
  margin-bottom: 10px;
}
/* line 909, ../sass/screen.sass */
div.livehelp-container a:hover {
  text-decoration: none;
}

/* line 911, ../sass/screen.sass */
#floatLayer {
  float: none;
  position: absolute;
  left: 10px;
  top: 10px;
  visibility: hidden;
  z-index: 5000;
}
/* line 918, ../sass/screen.sass */
#floatLayer #InitiateText {
  position: relative;
  left: 30px;
  top: 145px;
  width: 275px;
  height: 35px;
  z-index: 5001;
  text-align: center;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: black;
}

/* Contact form */
/* line 933, ../sass/screen.sass */
#form-contact {
  border-radius: 5px;
  border: 1px solid #cccccc;
  padding: 40px;
  margin-bottom: 20px;
}
/* line 938, ../sass/screen.sass */
#form-contact .controls {
  margin-bottom: 10px;
  padding-bottom: 10px;
}
/* line 943, ../sass/screen.sass */
#form-contact .controls label.required:after {
  font-size: 1.2em;
  color: red;
  content: " *";
}
/* line 947, ../sass/screen.sass */
#form-contact .controls .errors {
  color: red;
}
/* line 949, ../sass/screen.sass */
#form-contact .controls .errors strong {
  color: red;
}

/* Blog */
/* line 956, ../sass/screen.sass */
#blog-list .post, #blog-post .post {
  clear: both;
  margin-bottom: 10px;
  padding-bottom: 10px;
  float: left;
  width: 100%;
}
/* line 963, ../sass/screen.sass */
#blog-list .post header .date, #blog-post .post header .date {
  float: left;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  padding: 10px;
  text-align: center;
}
/* line 970, ../sass/screen.sass */
#blog-list .post header .date span, #blog-post .post header .date span {
  display: block;
  text-transform: capitalize;
}
/* line 973, ../sass/screen.sass */
#blog-list .post header .date span.day, #blog-post .post header .date span.day {
  font-size: 2em;
  display: block;
}
/* line 976, ../sass/screen.sass */
#blog-list .post header h3, #blog-post .post header h3 {
  font-size: 2em;
  margin-bottom: 10px;
}
/* line 979, ../sass/screen.sass */
#blog-list .post footer, #blog-post .post footer {
  float: right;
}
/* line 981, ../sass/screen.sass */
#blog-list .pagination, #blog-post .pagination {
  float: left;
  width: 100%;
}
