@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
/* line 17, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/screen.sass */
* {
  margin: 0;
  padding: 0;
}

/* line 15, ../sass/screen.sass */
html {
  overflow: auto;
}

/* line 17, ../sass/screen.sass */
body,
p {
  font: 13px "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #555555;
}

/* line 23, ../sass/screen.sass */
img.full-width {
  width: 100%;
}

/* line 26, ../sass/screen.sass */
ul {
  margin-left: 0;
}

/* line 29, ../sass/screen.sass */
.sidebar {
  padding-top: 20px;
}
/* line 31, ../sass/screen.sass */
.sidebar p#brochure {
  padding: 15px 10px 10px 65px;
  background: url(/img/pdf.png) no-repeat 5px 12px;
  min-height: 48px;
}
/* line 35, ../sass/screen.sass */
.sidebar p#brochure a {
  display: block;
}
/* line 37, ../sass/screen.sass */
.sidebar p#brochure a:hover {
  text-decoration: none;
}

/* line 40, ../sass/screen.sass */
.content {
  padding-top: 20px;
}
/* line 42, ../sass/screen.sass */
.content [class*="span"] {
  margin-left: 0;
  margin-right: 20px;
}
/* line 45, ../sass/screen.sass */
.content [class*="span"].last {
  margin-right: 0;
}
/* line 47, ../sass/screen.sass */
.content p {
  margin-bottom: 20px;
  line-height: 1.8em;
}
/* line 50, ../sass/screen.sass */
.content .hr {
  width: 100%;
}
/* line 52, ../sass/screen.sass */
.content h4 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
/* line 56, ../sass/screen.sass */
.content h5 {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* line 61, ../sass/screen.sass */
ul.checklist {
  float: left;
  list-style-image: url(/img/tick.png);
  list-style-type: circle;
  list-style-position: outside;
  margin-bottom: 20px;
  margin-left: 20px;
}
/* line 69, ../sass/screen.sass */
ul.checklist li p {
  padding-left: 20px;
}

/* line 72, ../sass/screen.sass */
blockquote {
  padding: 1px 20px 5px 60px;
  background: url(/img/blockquote.png) no-repeat top left;
}
/* line 75, ../sass/screen.sass */
blockquote p {
  line-height: 24px;
  font-size: 1em;
  color: #999999;
  margin-bottom: 20px;
}
/* line 80, ../sass/screen.sass */
blockquote p span.author {
  color: #666666;
}

/* line 82, ../sass/screen.sass */
blockquote,
p {
  quotes: "" "";
}
/* line 85, ../sass/screen.sass */
blockquote strong,
p strong {
  color: #333333;
}

/* line 88, ../sass/screen.sass */
strong {
  color: #333333;
  font-weight: bold;
}

/* line 92, ../sass/screen.sass */
#wrapper {
  background: #d8d7d3 url(../images/wrapper-background.png) repeat top left;
}
/* line 94, ../sass/screen.sass */
#wrapper #page {
  width: 1000px;
  margin: 0 auto;
  background: white;
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.2);
}
/* line 104, ../sass/screen.sass */
#wrapper #page .wrap {
  padding: 0 60px;
}

/* line 106, ../sass/screen.sass */
a {
  color: #346b8e;
}

/* line 109, ../sass/screen.sass */
a.more-link {
  border-bottom: 1px dotted #e6e6e6;
  padding-bottom: 5px;
}

/* line 114, ../sass/screen.sass */
.jumbo h1,
.jumbo h2,
.jumbo h3,
.jumbo h4,
.jumbo h5,
.jumbo h6 {
  font-weight: bold;
  font-family: "Lato", sans-serif;
}
/* line 122, ../sass/screen.sass */
.jumbo h1 {
  font-size: 24px;
}
/* line 124, ../sass/screen.sass */
.jumbo h2 {
  font-size: 14px;
}

/* line 127, ../sass/screen.sass */
.header {
  padding-top: 30px;
  margin-bottom: -1px;
}
/* line 130, ../sass/screen.sass */
.header #logo {
  float: left;
}
/* line 132, ../sass/screen.sass */
.header #logo h1 {
  width: 205px;
  height: 70px;
}
/* line 135, ../sass/screen.sass */
.header #logo h1 a {
  background: url(/img/logo.png) no-repeat top left;
  display: block;
  width: 205px;
  height: 70px;
}
/* line 140, ../sass/screen.sass */
.header #logo h1 a span {
  visibility: hidden;
}

/* line 143, ../sass/screen.sass */
.carousel {
  margin-bottom: 0;
}
/* line 145, ../sass/screen.sass */
.carousel img {
  width: 100%;
}
/* line 147, ../sass/screen.sass */
.carousel a.carousel-control {
  opacity: 1;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
/* line 157, ../sass/screen.sass */
.carousel .carousel-caption h4 {
  font-size: 14px;
  font-weight: bold;
}

/* line 162, ../sass/screen.sass */
.carousel:hover a.carousel-control {
  opacity: 1;
}

/* line 165, ../sass/screen.sass */
.jumbo {
  width: 100%;
  float: left;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  margin: 0 -60px 0 -60px;
  padding: 30px 60px;
  background: #f9f9f9;
}

/* line 183, ../sass/screen.sass */
#services {
  float: left;
  padding: 30px 0;
  width: 100%;
}

/* line 187, ../sass/screen.sass */
#services-overview {
  padding-top: 20px;
  float: left;
}
/* line 190, ../sass/screen.sass */
#services-overview .span9 {
  margin-left: 0;
}

/* line 192, ../sass/screen.sass */
.service {
  margin-bottom: 20px;
}
/* line 194, ../sass/screen.sass */
.service h5 {
  text-transform: none;
  padding-left: 30px;
  min-height: 20px;
  line-height: 20px;
  vertical-align: middle;
  margin-bottom: 8px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 14px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: top left;
}
/* line 207, ../sass/screen.sass */
.service h5 a {
  text-decoration: none;
  color: black;
}
/* line 210, ../sass/screen.sass */
.service h5 a:hover {
  text-decoration: none;
}
/* line 212, ../sass/screen.sass */
.service .sitios-web {
  background-image: url(/img/icons/web-site.png);
}
/* line 214, ../sass/screen.sass */
.service .redes-sociales {
  background-image: url(/img/icons/social-networks.png);
}
/* line 216, ../sass/screen.sass */
.service .web-marketing {
  background-image: url(/img/icons/web-marketing.png);
}
/* line 218, ../sass/screen.sass */
.service .web-analytics {
  background-image: url(/img/icons/web-analytics.png);
}
/* line 220, ../sass/screen.sass */
.service p {
  margin-bottom: 20px;
  padding-right: 10px;
}
/* line 223, ../sass/screen.sass */
.service ul {
  list-style-type: none;
  list-style-position: outside;
  margin-bottom: 20px;
  list-style: none;
  border-top: 1px dotted #f0f0f0;
}
/* line 229, ../sass/screen.sass */
.service ul li {
  border-bottom: 1px dotted #f0f0f0;
  padding: 5px;
}

/* line 234, ../sass/screen.sass */
.heading h3 {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 15px;
  margin: 0 0 30px 0;
  text-transform: uppercase;
}

/* line 243, ../sass/screen.sass */
#team h3 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}
/* line 248, ../sass/screen.sass */
#team .team-social img.profile {
  border: 1px solid #dddddd;
  padding: 3px;
}
/* line 251, ../sass/screen.sass */
#team .team-social ul {
  margin-top: 10px;
  margin-left: 45px;
  margin-bottom: 20px;
}
/* line 255, ../sass/screen.sass */
#team .team-social ul li {
  display: inline-block;
  margin-right: 10px;
}

/* line 262, ../sass/screen.sass */
#price-table table thead th {
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
}
/* line 266, ../sass/screen.sass */
#price-table table thead th .heading {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  display: block;
}
/* line 272, ../sass/screen.sass */
#price-table table thead th sup {
  top: 0;
}
/* line 275, ../sass/screen.sass */
#price-table table tbody td {
  padding: 10px 15px;
  text-align: center;
}
/* line 278, ../sass/screen.sass */
#price-table table tbody td.feature {
  text-align: right;
}
/* line 281, ../sass/screen.sass */
#price-table table tfoot td {
  text-align: center;
}

/* line 284, ../sass/screen.sass */
.preview {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
/* line 288, ../sass/screen.sass */
.preview img {
  min-width: 100%;
}
/* line 290, ../sass/screen.sass */
.preview .options {
  background: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
/* line 297, ../sass/screen.sass */
.preview .options .lightbox {
  display: block;
  position: absolute;
  bottom: 10px;
  right: 37px;
  width: 26px;
  height: 26px;
  background: url(/img/preview-options.png) no-repeat 0 0;
  text-indent: -9999px;
  cursor: pointer;
  opacity: 0.8;
}
/* line 308, ../sass/screen.sass */
.preview .options .view {
  display: block;
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 28px;
  height: 26px;
  background: url(/img/preview-options.png) no-repeat 0 -82px;
  text-indent: -9999px;
  cursor: pointer;
  opacity: 0.8;
}
/* line 319, ../sass/screen.sass */
.preview p {
  margin-bottom: 0;
}

/* line 323, ../sass/screen.sass */
.box h3 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* line 328, ../sass/screen.sass */
#clients {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}
/* line 332, ../sass/screen.sass */
#clients p {
  margin-bottom: 20px;
}

/* line 337, ../sass/screen.sass */
#clients-list #full-clients-list ul {
  float: left;
  margin-bottom: 20px;
}
/* line 340, ../sass/screen.sass */
#clients-list #full-clients-list ul li {
  padding: 10px 0;
}

/* line 343, ../sass/screen.sass */
#projects {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}
/* line 347, ../sass/screen.sass */
#projects p {
  margin-bottom: 20px;
}

/* line 351, ../sass/screen.sass */
#social-stream #social-stream-container {
  background-size: 100%;
  padding-bottom: 15px;
}
/* line 354, ../sass/screen.sass */
#social-stream #social-stream-container ul {
  display: table;
  padding: 10px;
  border: 1px solid #dddddd;
  background-color: white;
  min-height: 84px;
}
/* line 360, ../sass/screen.sass */
#social-stream #social-stream-container ul li {
  display: table-cell;
  vertical-align: middle;
}
/* line 364, ../sass/screen.sass */
#social-stream .social-icons li {
  display: inline-block;
  vertical-align: middle;
  padding-top: 5px;
  padding-right: 5px;
  font-size: 12px;
}
/* line 370, ../sass/screen.sass */
#social-stream .social-icons li img {
  display: block;
  float: left;
  margin-right: 5px;
}

/* line 375, ../sass/screen.sass */
.sidebar .nav {
  list-style-type: none;
  list-style-position: outside;
  border-top: 1px solid #efefef;
  margin-bottom: 20px;
}
/* line 380, ../sass/screen.sass */
.sidebar .nav li {
  border-bottom: 1px solid #efefef;
}
/* line 382, ../sass/screen.sass */
.sidebar .nav li a {
  display: block;
  padding: 15px 0 15px 25px;
  background: white url(/img/sidenav.gif) no-repeat 10px 17px;
  color: #346b8e;
}
/* line 387, ../sass/screen.sass */
.sidebar .nav li a:hover {
  background: #f9f9f9;
}
/* line 390, ../sass/screen.sass */
.sidebar .nav li.active a {
  font-weight: bold;
  color: #333333;
}

/* line 394, ../sass/screen.sass */
.header .nav {
  margin-bottom: 0;
  clear: both;
}
/* line 397, ../sass/screen.sass */
.header .nav .navbar {
  margin-bottom: 0;
  color: #346b8e;
  font-size: 15px;
  color: #333333;
  font-family: "Lato", sans-serif;
  float: right;
}
/* line 405, ../sass/screen.sass */
.header .nav .navbar ul.nav li {
  text-align: left;
}
/* line 407, ../sass/screen.sass */
.header .nav .navbar ul.nav li a {
  padding: 7px 31px 30px 0;
  color: #333333;
  text-shadow: none;
  display: block;
}
/* line 412, ../sass/screen.sass */
.header .nav .navbar ul.nav li a.active {
  color: #346b8e;
}
/* line 414, ../sass/screen.sass */
.header .nav .navbar ul.nav li a:hover {
  color: #346b8e;
}
/* line 416, ../sass/screen.sass */
.header .nav .navbar ul.nav li .dropdown-menu {
  left: 0;
  border-radius: 0;
  border-color: #dddddd;
  padding: 0;
  margin-top: 0;
  /*display: none */
}
/* line 424, ../sass/screen.sass */
.header .nav .navbar ul.nav li .dropdown-menu li a {
  padding: 5px 10px !important;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: white;
}
/* line 430, ../sass/screen.sass */
.header .nav .navbar ul.nav li:last-child a {
  padding: 7px 0 30px 0;
}
/* line 433, ../sass/screen.sass */
.header .nav .navbar ul.nav li:hover .dropdown-menu {
  top: 55px;
  margin-top: 0;
  display: block;
}
/* line 438, ../sass/screen.sass */
.header .nav .navbar ul.nav li:hover .dropdown-menu li a:hover {
  background: #f9f9f9;
  border-bottom-color: #f0f0f0;
}
/* line 442, ../sass/screen.sass */
.header .nav .navbar ul.nav li:hover .dropdown-menu li.active a {
  color: white;
  background: #346b8e;
}
/* line 445, ../sass/screen.sass */
.header .nav .navbar ul.nav li:hover .dropdown-menu li.active a:hover {
  background: #346b8e;
}
/* line 448, ../sass/screen.sass */
.header .nav .navbar ul.nav li.active a {
  border-bottom: 1px solid #f0f0f0;
  background: white;
  color: #346b8e;
}
/* line 452, ../sass/screen.sass */
.header .nav .navbar ul.nav li.active a:hover {
  color: #346b8e;
}
/* line 454, ../sass/screen.sass */
.header .nav .navbar ul::before {
  border: none;
}
/* line 456, ../sass/screen.sass */
.header .nav .navbar ul::after {
  border: none;
}

/* line 461, ../sass/screen.sass */
#get-in-touch p {
  margin-bottom: 20px;
}

/* line 467, ../sass/screen.sass */
#hosting-features [class*="span"] p img {
  margin-right: 10px;
  float: left;
}
/* line 470, ../sass/screen.sass */
#hosting-features [class*="span"] p strong {
  display: block;
  margin-bottom: 5px;
}

/* line 474, ../sass/screen.sass */
.footer {
  background: #f9f9f9;
  padding: 30px 0;
  border-top: 1px solid #f0f0f0;
}
/* line 478, ../sass/screen.sass */
.footer h5 {
  font-weight: bold;
  color: #333333;
  margin-bottom: 20px;
  line-height: 20px;
  text-transform: uppercase;
}
/* line 485, ../sass/screen.sass */
.footer #brief img {
  float: left;
  margin: 0 15px;
  border: none;
  text-decoration: none;
}
/* line 490, ../sass/screen.sass */
.footer #brief a {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
/* line 495, ../sass/screen.sass */
.footer #newsletter p {
  margin-bottom: 20px;
}
/* line 499, ../sass/screen.sass */
.footer #contact-info .vcard .fn {
  font-weight: bold;
}
/* line 502, ../sass/screen.sass */
.footer #contact-info .vcard .adr .street-address {
  display: block;
  width: 100%;
}
/* line 505, ../sass/screen.sass */
.footer #contact-info .vcard .adr .locality {
  margin-right: 5px;
}
/* line 507, ../sass/screen.sass */
.footer #contact-info .vcard .adr .country {
  display: block;
  width: 100%;
}
/* line 510, ../sass/screen.sass */
.footer .hr {
  margin-left: 20px;
  float: left;
}
/* line 515, ../sass/screen.sass */
.footer #footnav ul.nav li {
  display: inline-block;
  margin-right: 15px;
}
/* line 518, ../sass/screen.sass */
.footer #footnav ul.nav li a {
  padding: 0 10px;
}
/* line 520, ../sass/screen.sass */
.footer #footnav ul.nav li a:hover {
  background: none;
  text-decoration: underline;
}
/* line 523, ../sass/screen.sass */
.footer #footnav ul.nav li:last-child {
  margin-right: 0;
}
/* line 525, ../sass/screen.sass */
.footer #footnav ul.nav li:last-child a {
  padding: 0;
}
/* line 527, ../sass/screen.sass */
.footer #standards {
  margin-bottom: 20px;
}
/* line 529, ../sass/screen.sass */
.footer #standards li {
  display: inline-block;
  padding: 0 10px;
}
/* line 532, ../sass/screen.sass */
.footer #standards li a {
  display: block;
}

/* line 535, ../sass/screen.sass */
.hr {
  border-top: 1px solid #e6e6e6;
  margin: 30px 0 30px 30px;
  float: left;
  margin-left: 0;
}

/* Portrait phone */
@media (max-width: 320px) {
  /* line 544, ../sass/screen.sass */
  #wrapper #page {
    width: 100%;
  }
  /* line 546, ../sass/screen.sass */
  #wrapper #page .wrap {
    padding: 0;
  }
  /* line 548, ../sass/screen.sass */
  #wrapper #page .wrap .jumbo {
    margin: 0;
    padding: 0;
  }
  /* line 551, ../sass/screen.sass */
  #wrapper #page .wrap .box {
    padding: 10px;
  }
  /* line 553, ../sass/screen.sass */
  #wrapper #page .wrap #get-in-touch {
    float: left;
  }

  /* line 556, ../sass/screen.sass */
  #logo h3 {
    width: 100%;
  }
  /* line 558, ../sass/screen.sass */
  #logo h3 a {
    width: 100%;
    background-size: 100%;
  }

  /* line 562, ../sass/screen.sass */
  .header .nav {
    width: 100%;
  }
  /* line 564, ../sass/screen.sass */
  .header .nav ul.nav {
    padding: 10px;
  }
  /* line 566, ../sass/screen.sass */
  .header .nav ul.nav li {
    padding: inherit;
  }
  /* line 568, ../sass/screen.sass */
  .header .nav ul.nav li > a {
    padding: 5px 10px !important;
  }

  /* line 571, ../sass/screen.sass */
  .heading h3 {
    margin-left: 10px;
  }
}
/* Portrait iPhone */
@media (max-width: 480px) {
  /* line 578, ../sass/screen.sass */
  #wrapper #page {
    width: 100%;
  }
  /* line 580, ../sass/screen.sass */
  #wrapper #page .wrap {
    padding: 0;
  }
  /* line 582, ../sass/screen.sass */
  #wrapper #page .wrap .jumbo {
    margin: 0;
    padding: 0;
  }
  /* line 585, ../sass/screen.sass */
  #wrapper #page .wrap .box {
    padding: 10px;
  }
  /* line 587, ../sass/screen.sass */
  #wrapper #page .wrap #get-in-touch {
    float: right;
  }

  /* line 590, ../sass/screen.sass */
  #logo h3 {
    width: 100%;
  }
  /* line 592, ../sass/screen.sass */
  #logo h3 a {
    width: 100%;
    background-size: 100%;
  }

  /* line 596, ../sass/screen.sass */
  .header .nav {
    width: 100%;
  }
  /* line 598, ../sass/screen.sass */
  .header .nav .navbar {
    width: 100%;
  }
  /* line 600, ../sass/screen.sass */
  .header .nav ul.nav {
    padding: 10px;
  }
  /* line 603, ../sass/screen.sass */
  .header .nav ul.nav li {
    padding: inherit;
  }
  /* line 605, ../sass/screen.sass */
  .header .nav ul.nav li > a {
    padding: 5px 10px !important;
  }

  /* line 608, ../sass/screen.sass */
  .heading h3 {
    margin-left: 10px;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  /* line 614, ../sass/screen.sass */
  #wrapper #page {
    width: 100%;
  }
  /* line 616, ../sass/screen.sass */
  #wrapper #page .wrap {
    padding: 0;
  }
  /* line 618, ../sass/screen.sass */
  #wrapper #page .wrap #get-in-touch {
    float: left;
  }

  /* line 621, ../sass/screen.sass */
  .header .nav {
    width: 100%;
  }
  /* line 623, ../sass/screen.sass */
  .header .nav .navbar {
    width: 100%;
  }
  /* line 625, ../sass/screen.sass */
  .header .nav ul.nav {
    padding: 10px;
  }
  /* line 627, ../sass/screen.sass */
  .header .nav ul.nav li {
    padding: inherit;
  }
  /* line 629, ../sass/screen.sass */
  .header .nav ul.nav li > a {
    padding: 5px 10px !important;
  }

  /* line 632, ../sass/screen.sass */
  .heading h3 {
    margin-left: 10px;
  }
}
/* Tablet landscape */
@media (max-width: 1024px) {
  /* line 638, ../sass/screen.sass */
  #wrapper #page {
    width: 100%;
  }
  /* line 640, ../sass/screen.sass */
  #wrapper #page .wrap {
    padding: 0;
  }
  /* line 642, ../sass/screen.sass */
  #wrapper #page .wrap .jumbo {
    padding-left: 40px;
    padding-right: 40px;
    margin-left: -40px;
    margin-right: -40px;
  }

  /* line 648, ../sass/screen.sass */
  .header .nav {
    width: 100%;
  }
  /* line 650, ../sass/screen.sass */
  .header .nav .navbar {
    width: 100%;
  }
  /* line 652, ../sass/screen.sass */
  .header .nav ul.nav {
    padding: 10px;
  }
  /* line 654, ../sass/screen.sass */
  .header .nav ul.nav li {
    padding: inherit;
  }
  /* line 656, ../sass/screen.sass */
  .header .nav ul.nav li > a {
    padding: 5px 10px !important;
  }

  /* line 659, ../sass/screen.sass */
  .heading h3 {
    margin-left: 10px;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  /* line 665, ../sass/screen.sass */
  #wrapper #page {
    width: 100%;
  }
  /* line 667, ../sass/screen.sass */
  #wrapper #page .wrap {
    padding: 0;
  }
  /* line 669, ../sass/screen.sass */
  #wrapper #page .wrap .jumbo {
    margin: 0;
    padding: 0;
  }
  /* line 672, ../sass/screen.sass */
  #wrapper #page .wrap .box {
    padding: 10px;
  }

  /* line 675, ../sass/screen.sass */
  .header .nav {
    width: 100%;
  }
  /* line 677, ../sass/screen.sass */
  .header .nav .navbar {
    width: 100%;
  }
  /* line 679, ../sass/screen.sass */
  .header .nav ul.nav {
    padding: 10px;
  }
  /* line 681, ../sass/screen.sass */
  .header .nav ul.nav li {
    padding: inherit;
  }
  /* line 683, ../sass/screen.sass */
  .header .nav ul.nav li > a {
    padding: 5px 10px !important;
  }

  /* line 686, ../sass/screen.sass */
  .heading h3 {
    margin-left: 10px;
  }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 692, ../sass/screen.sass */
  #wrapper #page {
    width: 100%;
  }
  /* line 694, ../sass/screen.sass */
  #wrapper #page .wrap {
    padding: 0;
  }
  /* line 696, ../sass/screen.sass */
  #wrapper #page .wrap .jumbo {
    padding-right: 40px;
    padding-left: 40px;
    margin-left: -40px;
    margin-right: -40px;
  }

  /* line 702, ../sass/screen.sass */
  .header .nav {
    width: 100%;
  }
  /* line 704, ../sass/screen.sass */
  .header .nav .navbar {
    width: 100%;
  }
  /* line 706, ../sass/screen.sass */
  .header .nav ul.nav {
    padding: 10px;
  }
  /* line 708, ../sass/screen.sass */
  .header .nav ul.nav li {
    padding: inherit;
  }
  /* line 710, ../sass/screen.sass */
  .header .nav ul.nav li > a {
    padding: 5px 10px !important;
  }
}
@media (min-width: 768px) and (orientation: portrait) {
  /* line 717, ../sass/screen.sass */
  #wrapper #page .wrap .jumbo {
    padding-right: 20px;
    padding-left: 20px;
    margin-right: -20px;
    margin-left: -20px;
  }
}
/* Large desktop */
@media (min-width: 1200px) {
  /* line 726, ../sass/screen.sass */
  #wrapper #page {
    width: 1000px;
  }
}
/* line 730, ../sass/screen.sass */
.pp_overlay {
  width: 100% !important;
}

/* @media screen and (min-width: 1200px) */
/*	.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container, .span12 */
/*		width: 880px */
/* line 737, ../sass/screen.sass */
#description {
  display: none;
  margin: 20px 0 15px 0;
}
/* line 740, ../sass/screen.sass */
#description h1 {
  font-family: "Droid Sans", sans-serif;
  font-weight: 700;
  font-size: 2.3em;
  margin-bottom: 15px;
}
/* line 745, ../sass/screen.sass */
#description p {
  padding-bottom: 20px;
  font-size: 1.2em;
}

/* line 750, ../sass/screen.sass */
#services-web-hosting h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

/* line 755, ../sass/screen.sass */
.content h3 {
  font-size: 1.3em;
  color: #346b9e;
  line-height: 3em;
}
/* line 759, ../sass/screen.sass */
.content .row {
  margin-left: 0;
}
/* line 761, ../sass/screen.sass */
.content .row [class*="span"] {
  margin-right: 10px;
}
/* line 763, ../sass/screen.sass */
.content .row [class*="span"].last {
  margin-right: 0;
}

/* line 766, ../sass/screen.sass */
.center h1, .center h2, .center h3, .center h4, .center h5, .center h6, .center p {
  text-align: center;
}
/* line 768, ../sass/screen.sass */
.center h3 {
  line-height: 1.5em;
}

@media (max-width: 1024px) {
  /* line 772, ../sass/screen.sass */
  #wrapper #page .wrap .jumbo {
    padding: 0;
    margin: 0;
  }

  /* line 775, ../sass/screen.sass */
  #logo {
    width: 100%;
  }
  /* line 777, ../sass/screen.sass */
  #logo h1 {
    margin: 0 auto;
  }
}
@media (max-width: 979px) and (min-width: 768px) {
  /* line 782, ../sass/screen.sass */
  .header .span3 {
    width: 100%;
  }
  /* line 784, ../sass/screen.sass */
  .header .span9 {
    width: inherit;
  }
  /* line 786, ../sass/screen.sass */
  .header #logo {
    width: 100%;
  }
  /* line 788, ../sass/screen.sass */
  .header #logo h1 {
    margin: 0 auto;
  }
  /* line 791, ../sass/screen.sass */
  .header .navbar ul.nav {
    margin: 0;
  }
  /* line 793, ../sass/screen.sass */
  .header .navbar ul.nav li {
    padding: 0;
  }
  /* line 795, ../sass/screen.sass */
  .header .navbar ul.nav li > a {
    padding: 7px 31px 30px 0 !important;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  /* line 800, ../sass/screen.sass */
  .header .navbar ul.nav {
    text-align: center;
  }
  /* line 802, ../sass/screen.sass */
  .header .navbar ul.nav li {
    padding: 0;
  }
  /* line 804, ../sass/screen.sass */
  .header .navbar ul.nav li > a {
    padding: 7px 31px 30px 0 !important;
  }
}
