@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
/* line 17, ../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* 1200px min */
/* line 17, ../sass/screen.sass */
* {
  margin: 0;
  padding: 0;
}

/* line 21, ../sass/screen.sass */
html {
  overflow: auto;
}

/* line 23, ../sass/screen.sass */
body,
p {
  font: 13px "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #555555;
}

/* line 29, ../sass/screen.sass */
img.full-width {
  width: 100%;
}

/* line 32, ../sass/screen.sass */
ul {
  margin-left: 0;
}

/* line 36, ../sass/screen.sass */
.sidebar {
  padding-top: 20px;
}
/* line 38, ../sass/screen.sass */
.sidebar p {
  padding-bottom: 20px;
}
/* line 40, ../sass/screen.sass */
.sidebar p#brochure {
  padding: 15px 10px 10px 65px;
  background: url(/img/pdf.png) no-repeat 5px 12px;
  min-height: 48px;
}
/* line 44, ../sass/screen.sass */
.sidebar p#brochure a {
  display: block;
}
/* line 46, ../sass/screen.sass */
.sidebar p#brochure a:hover {
  text-decoration: none;
}
/* line 48, ../sass/screen.sass */
.sidebar h4 {
  font-size: 16px;
  line-height: 17px;
  margin-bottom: 0px;
  font-weight: bold;
}

/* line 53, ../sass/screen.sass */
.content {
  padding-top: 20px;
  font-family: "Lato", sans-serif;
  /* Form */
}
/* line 56, ../sass/screen.sass */
.content [class*="span"] {
  margin-left: 0;
  margin-right: 10px;
}
/* line 59, ../sass/screen.sass */
.content [class*="span"].last {
  margin-right: 0;
}
/* line 61, ../sass/screen.sass */
.content p {
  margin-bottom: 20px;
  line-height: 1.8em;
}
/* line 64, ../sass/screen.sass */
.content .hr {
  width: 100%;
  margin-top: 0px;
}
/* line 67, ../sass/screen.sass */
.content h1 {
  font-size: 25px;
  color: #346b9e;
  line-height: 27px;
  margin-top: 15px;
}
/* line 72, ../sass/screen.sass */
.content h3 {
  font-size: 18px;
  color: #346b9e;
  line-height: 22px;
  margin-top: 10px;
  font-weight: bold;
}
/* line 79, ../sass/screen.sass */
.content h4 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
/* line 83, ../sass/screen.sass */
.content h5 {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 20px;
}
/* line 87, ../sass/screen.sass */
.content .row {
  margin-left: 0;
}
/* line 89, ../sass/screen.sass */
.content .row [class*="span"] {
  margin-right: 10px;
}
/* line 91, ../sass/screen.sass */
.content .row [class*="span"].last {
  margin-right: 0;
}
/* line 94, ../sass/screen.sass */
.content label {
  font-weight: bold;
  color: black;
}
/* line 97, ../sass/screen.sass */
.content label span.required {
  color: red;
}
/* line 100, ../sass/screen.sass */
.content fieldset {
  padding: 25px;
  margin: 0 0 20px 0;
  border: 1px solid #efefef;
}
/* line 104, ../sass/screen.sass */
.content legend {
  font-weight: bold;
}
/* line 106, ../sass/screen.sass */
.content form p {
  margin-bottom: 10px;
}
/* line 109, ../sass/screen.sass */
.content input[type=text], .content input[type=password], .content input.text, .content textarea {
  background-color: white;
  border: 1px solid #e1e1e1;
}
/* line 112, ../sass/screen.sass */
.content input[type=text]:focus, .content input[type=password]:focus, .content input.text:focus, .content textarea:focus {
  border-color: #cccccc;
}
/* line 114, ../sass/screen.sass */
.content select {
  border-width: 1px;
  border-style: solid;
  background-color: white;
}
/* line 119, ../sass/screen.sass */
.content input[type=text], .content input[type=password], .content input.text, .content textarea, .content select {
  margin: 5px 0;
}
/* line 122, ../sass/screen.sass */
.content input.text {
  width: 250px;
  padding: 5px;
}
/* line 125, ../sass/screen.sass */
.content textarea {
  width: 380px;
  height: 125px;
  padding: 5px;
}
/* line 130, ../sass/screen.sass */
.content .errormsg, .content .successmsg, .content .infomsg, .content .noticemsg {
  padding: 10px 10px 10px 40px;
  margin-bottom: 10px;
  border: 1px solid #dddddd;
  border-left-width: 5px;
}
/* line 135, ../sass/screen.sass */
.content .errormsg {
  border-color: #fbc2c4;
  background: #fbe3e4 url(images/bg-msg.png) no-repeat 0 0;
  color: #8a1f11;
}
/* line 139, ../sass/screen.sass */
.content .errormsg a {
  color: #8a1f11;
}
/* line 141, ../sass/screen.sass */
.content .successmsg {
  border-color: #c6d880;
  background: #e6efc2 url(images/bg-msg.png) no-repeat 0 -220px;
  color: #264409;
}
/* line 145, ../sass/screen.sass */
.content .successmsg a {
  color: #264409;
}
/* line 147, ../sass/screen.sass */
.content .infomsg {
  border-color: #92cae4;
  background: #d5edf8 url(images/bg-msg.png) no-repeat 0 -72px;
  color: #205791;
}
/* line 151, ../sass/screen.sass */
.content .infomsg a {
  color: #205791;
}
/* line 153, ../sass/screen.sass */
.content .noticemsg {
  border-color: #ffd324;
  background: #fff6bf url(images/bg-msg.png) no-repeat 0 -148px;
  color: #514721;
}
/* line 157, ../sass/screen.sass */
.content .noticemsg a {
  color: #514721;
}

/* line 160, ../sass/screen.sass */
ul.checklist {
  float: left;
  list-style-image: url(/img/tick.png);
  list-style-type: circle;
  list-style-position: outside;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
}
/* line 169, ../sass/screen.sass */
ul.checklist li p {
  padding-left: 20px;
}

/* line 172, ../sass/screen.sass */
blockquote {
  padding: 1px 20px 5px 60px;
  background: url(/img/blockquote.png) no-repeat top left;
  min-height: 52px;
}
/* line 176, ../sass/screen.sass */
blockquote p {
  line-height: 24px;
  font-size: 1em;
  color: #999999;
  margin-bottom: 20px;
}
/* line 181, ../sass/screen.sass */
blockquote p span.author {
  color: #666666;
}

/* line 183, ../sass/screen.sass */
blockquote,
p {
  quotes: "" "";
}
/* line 186, ../sass/screen.sass */
blockquote strong,
p strong {
  color: #333333;
}

/* line 189, ../sass/screen.sass */
strong {
  color: #333333;
  font-weight: bold;
}

/* line 193, ../sass/screen.sass */
#wrapper {
  background: #d8d7d3 url(../images/wrapper-background.png) repeat top left;
}
/* line 195, ../sass/screen.sass */
#wrapper #page {
  width: 1000px;
  margin: 0 auto;
  background: white;
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.2);
}
/* line 205, ../sass/screen.sass */
#wrapper #page .wrap {
  padding: 0 60px;
}

/* line 207, ../sass/screen.sass */
a {
  color: #346b8e;
}

/* line 210, ../sass/screen.sass */
a.more-link {
  border-bottom: 1px dotted #e6e6e6;
  padding-bottom: 5px;
  margin-right: 20px;
}

/* line 216, ../sass/screen.sass */
.jumbo h1,
.jumbo h2,
.jumbo h3,
.jumbo h4,
.jumbo h5,
.jumbo h6 {
  font-weight: bold;
  font-family: "Lato", sans-serif;
}
/* line 224, ../sass/screen.sass */
.jumbo h1 {
  font-size: 24px;
}
/* line 226, ../sass/screen.sass */
.jumbo h2 {
  font-size: 14px;
}
/* line 228, ../sass/screen.sass */
.jumbo h3 {
  font-size: 18px;
  font-weight: normal;
}

/* line 232, ../sass/screen.sass */
.header {
  padding-top: 30px;
  margin-bottom: -1px;
}
/* line 235, ../sass/screen.sass */
.header #logo {
  float: left;
}
/* line 237, ../sass/screen.sass */
.header #logo h3 {
  width: 205px;
  height: 70px;
}
/* line 240, ../sass/screen.sass */
.header #logo h3 a {
  background: url(/img/logo.png) no-repeat top left;
  display: block;
  width: 205px;
  height: 70px;
}
/* line 245, ../sass/screen.sass */
.header #logo h3 a span {
  visibility: hidden;
}

/* line 248, ../sass/screen.sass */
.carousel {
  margin-bottom: 0;
}
/* line 250, ../sass/screen.sass */
.carousel img {
  width: 100%;
}
/* line 253, ../sass/screen.sass */
.carousel .carousel-caption h4 {
  font-size: 14px;
  font-weight: bold;
}

/* line 257, ../sass/screen.sass */
.jumbo {
  background: #f9f9f9;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  margin: 0 -60px 0 -60px;
  padding: 30px 60px;
}

/* .jumbo
 * 	border-top: 1px solid #f0f0f0
 * 	border-bottom: 1px solid #f0f0f0
 * 	margin: 0 -60px 0 -60px
 * 	padding: 30px 60px
 * 	background: #f9f9f9 */
/* line 280, ../sass/screen.sass */
#services {
  padding: 30px 10px;
}

/* line 282, ../sass/screen.sass */
#services-overview {
  padding-top: 20px;
  float: left;
}
/* line 285, ../sass/screen.sass */
#services-overview .span9 {
  margin-left: 0;
}

/* line 287, ../sass/screen.sass */
.service {
  margin-bottom: 20px;
}
/* line 289, ../sass/screen.sass */
.service h5 {
  text-transform: none;
  padding-left: 30px;
  min-height: 20px;
  line-height: 20px;
  vertical-align: middle;
  margin-bottom: 8px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 14px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: top left;
}
/* line 302, ../sass/screen.sass */
.service h5 a {
  text-decoration: none;
  color: #555555;
}
/* line 305, ../sass/screen.sass */
.service h5 a:hover {
  text-decoration: none;
}
/* line 307, ../sass/screen.sass */
.service .sitios-web {
  background-image: url(/img/icons/web-site.png);
}
/* line 309, ../sass/screen.sass */
.service .redes-sociales {
  background-image: url(/img/icons/social-networks.png);
}
/* line 311, ../sass/screen.sass */
.service .web-marketing {
  background-image: url(/img/icons/web-marketing.png);
}
/* line 313, ../sass/screen.sass */
.service .web-analytics {
  background-image: url(/img/icons/web-analytics.png);
}
/* line 315, ../sass/screen.sass */
.service .google {
  background-image: url(/img/icons/google-icon.png);
}
/* line 317, ../sass/screen.sass */
.service .facebook {
  background-image: url(/img/icons/facebook-icon.png);
}
/* line 319, ../sass/screen.sass */
.service .email-marketing {
  background-image: url(/img/icons/email-marketing.png);
}
/* line 321, ../sass/screen.sass */
.service p {
  margin-bottom: 20px;
  padding-right: 10px;
}
/* line 324, ../sass/screen.sass */
.service ul {
  list-style-type: none;
  list-style-position: outside;
  margin-bottom: 20px;
  list-style: none;
  border-top: 1px dotted #f0f0f0;
}
/* line 330, ../sass/screen.sass */
.service ul li {
  border-bottom: 1px dotted #f0f0f0;
  padding: 5px;
}

/* line 335, ../sass/screen.sass */
.heading h3 {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 15px;
  margin: 0 0 30px 0;
  text-transform: uppercase;
}

/* line 344, ../sass/screen.sass */
#team h3 {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 10px;
  font-family: "Lato", sans-serif;
  font-weight: normal;
}
/* line 350, ../sass/screen.sass */
#team a {
  color: #333333;
}
/* line 353, ../sass/screen.sass */
#team .team-social .profile {
  border: 1px solid #dddddd;
  padding: 3px;
}
/* line 354, ../sass/screen.sass */
#team .team-social .profile img {
  width: 100%;
}
/* line 358, ../sass/screen.sass */
#team .team-social ul {
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 20px;
}
/* line 362, ../sass/screen.sass */
#team .team-social ul li {
  display: inline-block;
  margin-right: 10px;
}

/* line 369, ../sass/screen.sass */
#price-table table thead th {
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
}
/* line 373, ../sass/screen.sass */
#price-table table thead th .heading {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  display: block;
}
/* line 379, ../sass/screen.sass */
#price-table table thead th sup {
  top: 0;
}
/* line 382, ../sass/screen.sass */
#price-table table tbody td {
  padding: 10px 15px;
  text-align: center;
}
/* line 385, ../sass/screen.sass */
#price-table table tbody td.feature {
  text-align: right;
}
/* line 388, ../sass/screen.sass */
#price-table table tfoot td {
  text-align: center;
}

/* line 391, ../sass/screen.sass */
.preview {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
/* line 395, ../sass/screen.sass */
.preview img {
  min-width: 100%;
}
/* line 397, ../sass/screen.sass */
.preview .options {
  background: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
/* line 404, ../sass/screen.sass */
.preview .options .lightbox {
  display: block;
  position: absolute;
  bottom: 10px;
  right: 37px;
  width: 26px;
  height: 26px;
  background: url(/img/preview-options.png) no-repeat 0 0;
  text-indent: -9999px;
  cursor: pointer;
  opacity: 0.8;
}
/* line 415, ../sass/screen.sass */
.preview .options .view {
  display: block;
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 28px;
  height: 26px;
  background: url(/img/preview-options.png) no-repeat 0 -82px;
  text-indent: -9999px;
  cursor: pointer;
  opacity: 0.8;
}
/* line 426, ../sass/screen.sass */
.preview p {
  margin-bottom: 0;
}

/* line 430, ../sass/screen.sass */
.box h3 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* line 435, ../sass/screen.sass */
#clients {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}
/* line 439, ../sass/screen.sass */
#clients p {
  margin-bottom: 20px;
}

/* line 444, ../sass/screen.sass */
#clients-list #full-clients-list ul {
  float: left;
  margin-bottom: 20px;
}
/* line 447, ../sass/screen.sass */
#clients-list #full-clients-list ul li {
  padding: 10px 0;
}

/* line 450, ../sass/screen.sass */
#projects {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}
/* line 454, ../sass/screen.sass */
#projects p {
  margin-bottom: 20px;
}

/* line 458, ../sass/screen.sass */
#social-stream #social-stream-container {
  background-size: 100%;
  padding-bottom: 15px;
}
/* line 461, ../sass/screen.sass */
#social-stream #social-stream-container ul {
  padding: 10px;
  border: 1px solid #dddddd;
  background-color: white;
  min-height: 84px;
  float: left;
}
/* line 467, ../sass/screen.sass */
#social-stream #social-stream-container ul li {
  display: inline-block;
  margin-bottom: 10px;
  float: left;
}
/* line 471, ../sass/screen.sass */
#social-stream #social-stream-container ul li img {
  float: left;
  margin-right: 5px;
  width: 18px;
  height: 18px;
}
/* line 477, ../sass/screen.sass */
#social-stream .social-icons li {
  display: inline-block;
  vertical-align: middle;
  padding-top: 5px;
  padding-right: 5px;
  font-size: 12px;
}
/* line 483, ../sass/screen.sass */
#social-stream .social-icons li img {
  display: block;
  float: left;
  margin-right: 5px;
}

/* line 488, ../sass/screen.sass */
.sidebar .nav {
  list-style-type: none;
  list-style-position: outside;
  border-top: 1px solid #efefef;
  margin-bottom: 20px;
}
/* line 493, ../sass/screen.sass */
.sidebar .nav li {
  border-bottom: 1px solid #efefef;
}
/* line 495, ../sass/screen.sass */
.sidebar .nav li a {
  display: block;
  padding: 15px 0 15px 25px;
  background: white url(/img/sidenav.gif) no-repeat 10px 17px;
  color: #346b8e;
}
/* line 500, ../sass/screen.sass */
.sidebar .nav li a:hover {
  background: #f9f9f9;
}
/* line 503, ../sass/screen.sass */
.sidebar .nav li.active a {
  font-weight: bold;
  color: #333333;
}

/* line 507, ../sass/screen.sass */
.navbar .nav > .active > a {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 509, ../sass/screen.sass */
.navbar .nav > .active > a:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 513, ../sass/screen.sass */
.header .nav {
  margin-bottom: 0;
  clear: both;
}
/* line 516, ../sass/screen.sass */
.header .nav .navbar {
  margin-bottom: 0;
  color: #346b8e;
  font-size: 15px;
  color: #333333;
  font-family: "Lato", sans-serif;
  float: right;
  padding: 0 15px 0;
}
/* line 525, ../sass/screen.sass */
.header .nav .navbar ul.nav li {
  text-align: left;
}
/* line 527, ../sass/screen.sass */
.header .nav .navbar ul.nav li a {
  padding: 7px 31px 30px 0;
  color: #333333;
  text-shadow: none;
  display: block;
}
/* line 532, ../sass/screen.sass */
.header .nav .navbar ul.nav li a.active {
  color: #346b8e;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 535, ../sass/screen.sass */
.header .nav .navbar ul.nav li a:hover {
  color: #346b8e;
}
/* line 537, ../sass/screen.sass */
.header .nav .navbar ul.nav li .dropdown-menu {
  left: 0;
  border-radius: 0;
  border-color: #dddddd;
  padding: 0;
  margin-top: 0;
  /*display: none */
}
/* line 545, ../sass/screen.sass */
.header .nav .navbar ul.nav li .dropdown-menu li a {
  padding: 5px 10px !important;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: white;
}
/* line 551, ../sass/screen.sass */
.header .nav .navbar ul.nav li:last-child a {
  padding: 7px 0 30px 0;
}
/* line 554, ../sass/screen.sass */
.header .nav .navbar ul.nav li:hover .dropdown-menu {
  top: 55px;
  margin-top: 0;
  display: block;
}
/* line 559, ../sass/screen.sass */
.header .nav .navbar ul.nav li:hover .dropdown-menu li a:hover {
  background: #f9f9f9;
  border-bottom-color: #f0f0f0;
}
/* line 563, ../sass/screen.sass */
.header .nav .navbar ul.nav li:hover .dropdown-menu li.active a {
  color: white;
  background: #346b8e;
}
/* line 566, ../sass/screen.sass */
.header .nav .navbar ul.nav li:hover .dropdown-menu li.active a:hover {
  background: #346b8e;
}
/* line 569, ../sass/screen.sass */
.header .nav .navbar ul.nav li.active a {
  border-bottom: 1px solid #f0f0f0;
  background: white;
  color: #346b8e;
}
/* line 573, ../sass/screen.sass */
.header .nav .navbar ul.nav li.active a:hover {
  color: #346b8e;
}
/* line 575, ../sass/screen.sass */
.header .nav .navbar ul::before {
  border: none;
}
/* line 577, ../sass/screen.sass */
.header .nav .navbar ul::after {
  border: none;
}

/* line 582, ../sass/screen.sass */
#get-in-touch p {
  margin-bottom: 20px;
}

/* line 588, ../sass/screen.sass */
#hosting-features [class*="span"] p img {
  margin-right: 10px;
  float: left;
}
/* line 591, ../sass/screen.sass */
#hosting-features [class*="span"] p strong {
  display: block;
  margin-bottom: 5px;
}

/* line 595, ../sass/screen.sass */
.footer {
  background: #f9f9f9;
  padding: 30px 0;
  border-top: 1px solid #f0f0f0;
}
/* line 599, ../sass/screen.sass */
.footer h5 {
  font-weight: bold;
  color: #333333;
  margin-bottom: 20px;
  line-height: 20px;
  text-transform: uppercase;
}
/* line 606, ../sass/screen.sass */
.footer #brief img {
  float: left;
  margin: 0 15px;
  border: none;
  text-decoration: none;
}
/* line 611, ../sass/screen.sass */
.footer #brief a {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
/* line 616, ../sass/screen.sass */
.footer #newsletter p {
  margin-bottom: 20px;
}
/* line 620, ../sass/screen.sass */
.footer #contact-info .vcard .fn {
  font-weight: bold;
}
/* line 623, ../sass/screen.sass */
.footer #contact-info .vcard .adr .street-address {
  display: block;
  width: 100%;
}
/* line 626, ../sass/screen.sass */
.footer #contact-info .vcard .adr .locality {
  margin-right: 5px;
}
/* line 628, ../sass/screen.sass */
.footer #contact-info .vcard .adr .country {
  display: block;
  width: 100%;
}
/* line 631, ../sass/screen.sass */
.footer .hr {
  float: left;
}
/* line 636, ../sass/screen.sass */
.footer #footnav ul.nav li {
  display: inline-block;
  margin-right: 15px;
}
/* line 639, ../sass/screen.sass */
.footer #footnav ul.nav li a {
  padding: 0 10px;
}
/* line 641, ../sass/screen.sass */
.footer #footnav ul.nav li a:hover {
  background: none;
  text-decoration: underline;
}
/* line 644, ../sass/screen.sass */
.footer #footnav ul.nav li:last-child {
  margin-right: 0;
}
/* line 646, ../sass/screen.sass */
.footer #footnav ul.nav li:last-child a {
  padding: 0;
}
/* line 648, ../sass/screen.sass */
.footer #standards {
  margin-bottom: 20px;
}
/* line 650, ../sass/screen.sass */
.footer #standards li {
  display: inline-block;
  padding: 0 10px;
}
/* line 653, ../sass/screen.sass */
.footer #standards li a {
  display: block;
}

/* line 656, ../sass/screen.sass */
.hr {
  border-top: 1px solid #e6e6e6;
  margin: 30px 0 30px 30px;
  float: left;
  margin-left: 0;
}

/* Portrait phone */
@media (max-width: 320px) {
  /* line 665, ../sass/screen.sass */
  #wrapper #page {
    width: 100%;
  }
  /* line 667, ../sass/screen.sass */
  #wrapper #page .wrap {
    padding: 0;
  }
  /* line 669, ../sass/screen.sass */
  #wrapper #page .wrap .jumbo {
    margin: 0;
    padding: 0;
  }
  /* line 672, ../sass/screen.sass */
  #wrapper #page .wrap .box {
    padding: 10px;
  }
  /* line 674, ../sass/screen.sass */
  #wrapper #page .wrap #get-in-touch {
    float: left;
  }

  /* line 677, ../sass/screen.sass */
  #logo h3 {
    width: 100%;
  }
  /* line 679, ../sass/screen.sass */
  #logo h3 a {
    width: 100%;
    background-size: 100%;
  }

  /* line 683, ../sass/screen.sass */
  .header .nav {
    width: 100%;
  }
  /* line 685, ../sass/screen.sass */
  .header .nav ul.nav {
    padding: 10px;
  }
  /* line 687, ../sass/screen.sass */
  .header .nav ul.nav li {
    padding: inherit;
  }
  /* line 689, ../sass/screen.sass */
  .header .nav ul.nav li > a {
    padding: 5px 10px !important;
  }

  /* line 692, ../sass/screen.sass */
  .heading h3 {
    margin-left: 10px;
  }
}
/* Portrait iPhone */
@media (max-width: 480px) {
  /* line 699, ../sass/screen.sass */
  #wrapper #page {
    width: 100%;
  }
  /* line 701, ../sass/screen.sass */
  #wrapper #page .wrap {
    padding: 0;
  }
  /* line 703, ../sass/screen.sass */
  #wrapper #page .wrap .jumbo {
    margin: 0;
    padding: 0;
  }
  /* line 706, ../sass/screen.sass */
  #wrapper #page .wrap .box {
    padding: 10px;
  }
  /* line 708, ../sass/screen.sass */
  #wrapper #page .wrap #get-in-touch {
    float: right;
  }

  /* line 711, ../sass/screen.sass */
  #logo h3 {
    width: 100%;
  }
  /* line 713, ../sass/screen.sass */
  #logo h3 a {
    width: 100%;
    background-size: 100%;
  }

  /* line 717, ../sass/screen.sass */
  .header .nav {
    width: 100%;
  }
  /* line 719, ../sass/screen.sass */
  .header .nav .navbar {
    width: 100%;
  }
  /* line 721, ../sass/screen.sass */
  .header .nav ul.nav {
    padding: 10px;
  }
  /* line 724, ../sass/screen.sass */
  .header .nav ul.nav li {
    padding: inherit;
  }
  /* line 726, ../sass/screen.sass */
  .header .nav ul.nav li > a {
    padding: 5px 10px !important;
  }

  /* line 729, ../sass/screen.sass */
  .heading h3 {
    margin-left: 10px;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  /* line 735, ../sass/screen.sass */
  #wrapper #page {
    width: 100%;
  }
  /* line 737, ../sass/screen.sass */
  #wrapper #page .wrap {
    padding: 0;
  }
  /* line 739, ../sass/screen.sass */
  #wrapper #page .wrap #get-in-touch {
    float: left;
  }

  /* line 742, ../sass/screen.sass */
  .header .nav {
    width: 100%;
  }
  /* line 744, ../sass/screen.sass */
  .header .nav .navbar {
    width: 100%;
  }
  /* line 746, ../sass/screen.sass */
  .header .nav ul.nav {
    padding: 10px;
  }
  /* line 748, ../sass/screen.sass */
  .header .nav ul.nav li {
    padding: inherit;
  }
  /* line 750, ../sass/screen.sass */
  .header .nav ul.nav li > a {
    padding: 5px 10px !important;
  }

  /* line 753, ../sass/screen.sass */
  .heading h3 {
    margin-left: 10px;
  }
}
/* Tablet landscape */
@media (max-width: 1024px) {
  /* line 759, ../sass/screen.sass */
  #wrapper #page {
    width: 100%;
  }
  /* line 761, ../sass/screen.sass */
  #wrapper #page .wrap {
    padding: 0;
    /* .jumbo
     * 	padding-left: 40px
     * 	padding-right: 40px
     * 	margin-left: -40px
     * 	margin-right: -40px */
  }

  /* line 770, ../sass/screen.sass */
  .header .nav {
    width: 100%;
  }
  /* line 772, ../sass/screen.sass */
  .header .nav .navbar {
    width: 100%;
  }
  /* line 774, ../sass/screen.sass */
  .header .nav ul.nav {
    padding: 10px;
  }
  /* line 776, ../sass/screen.sass */
  .header .nav ul.nav li {
    padding: inherit;
  }
  /* line 778, ../sass/screen.sass */
  .header .nav ul.nav li > a {
    padding: 5px 10px !important;
  }

  /* line 781, ../sass/screen.sass */
  .heading h3 {
    margin-left: 10px;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  /* line 787, ../sass/screen.sass */
  #wrapper #page {
    width: 100%;
  }
  /* line 789, ../sass/screen.sass */
  #wrapper #page .wrap {
    padding: 0;
  }
  /* line 791, ../sass/screen.sass */
  #wrapper #page .wrap .jumbo {
    margin: 0;
    padding: 0;
  }
  /* line 794, ../sass/screen.sass */
  #wrapper #page .wrap .box {
    padding: 10px;
  }

  /* line 797, ../sass/screen.sass */
  .header .nav {
    width: 100%;
  }
  /* line 799, ../sass/screen.sass */
  .header .nav .navbar {
    width: 100%;
  }
  /* line 801, ../sass/screen.sass */
  .header .nav ul.nav {
    padding: 10px;
  }
  /* line 803, ../sass/screen.sass */
  .header .nav ul.nav li {
    padding: inherit;
  }
  /* line 805, ../sass/screen.sass */
  .header .nav ul.nav li > a {
    padding: 5px 10px !important;
  }

  /* line 808, ../sass/screen.sass */
  .heading h3 {
    margin-left: 10px;
  }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 814, ../sass/screen.sass */
  #wrapper #page {
    width: 100%;
  }
  /* line 816, ../sass/screen.sass */
  #wrapper #page .wrap {
    padding: 0;
    /* .jumbo
     * 	padding-right: 40px
     * 	padding-left: 40px
     * 	margin-left: -40px
     * 	margin-right: -40px */
  }

  /* line 825, ../sass/screen.sass */
  .header .nav {
    width: 100%;
  }
  /* line 827, ../sass/screen.sass */
  .header .nav .navbar {
    width: 100%;
  }
  /* line 829, ../sass/screen.sass */
  .header .nav ul.nav {
    padding: 10px;
  }
  /* line 831, ../sass/screen.sass */
  .header .nav ul.nav li {
    padding: inherit;
  }
  /* line 833, ../sass/screen.sass */
  .header .nav ul.nav li > a {
    padding: 5px 10px !important;
  }
}
@media (min-width: 768px) and (orientation: portrait) {
  /* line 840, ../sass/screen.sass */
  #wrapper #page .wrap .jumbo {
    padding-right: 20px;
    padding-left: 20px;
    margin-right: -20px;
    margin-left: -20px;
  }
}
/* Large desktop */
@media (min-width: 1200px) {
  /* line 849, ../sass/screen.sass */
  #wrapper #page {
    width: 1000px;
  }
}
/* line 853, ../sass/screen.sass */
.pp_overlay {
  width: 100% !important;
}

/* @media screen and (min-width: 1200px) */
/*	.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container, .span12 */
/*		width: 880px */
/* line 860, ../sass/screen.sass */
#description {
  display: none;
  margin: 20px 0 15px 0;
}
/* line 863, ../sass/screen.sass */
#description h1 {
  font-family: "Droid Sans", sans-serif;
  font-weight: 700;
  font-size: 2.3em;
  margin-bottom: 15px;
}
/* line 868, ../sass/screen.sass */
#description p {
  padding-bottom: 20px;
  font-size: 1.2em;
}

/* line 873, ../sass/screen.sass */
#services-web-hosting h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

/* line 879, ../sass/screen.sass */
.center h1, .center h2, .center h3, .center h4, .center h5, .center h6, .center p {
  text-align: center;
}
/* line 881, ../sass/screen.sass */
.center h3 {
  line-height: 1.5em;
  margin: 30px 0;
}

@media (max-width: 1024px) {
  /* #wrapper #page .wrap .jumbo
   * 	padding: 0
   * 	margin: 0 */
  /* line 890, ../sass/screen.sass */
  #logo {
    width: 100%;
  }
  /* line 892, ../sass/screen.sass */
  #logo h3 {
    margin: 0 auto;
  }
}
@media (max-width: 979px) and (min-width: 768px) {
  /* line 897, ../sass/screen.sass */
  .header #logo {
    width: 100%;
  }
  /* line 899, ../sass/screen.sass */
  .header #logo h3 {
    margin: 0 auto;
  }
  /* line 902, ../sass/screen.sass */
  .header .navbar ul.nav {
    margin: 0;
  }
  /* line 904, ../sass/screen.sass */
  .header .navbar ul.nav li {
    padding: 0;
  }
  /* line 906, ../sass/screen.sass */
  .header .navbar ul.nav li > a {
    padding: 7px 31px 30px 0 !important;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  /* line 911, ../sass/screen.sass */
  .header .navbar ul.nav {
    text-align: center;
  }
  /* line 913, ../sass/screen.sass */
  .header .navbar ul.nav li {
    padding: 0;
  }
  /* line 915, ../sass/screen.sass */
  .header .navbar ul.nav li > a {
    padding: 7px 31px 30px 0 !important;
  }
}
/* line 919, ../sass/screen.sass */
ul.checklist.fin {
  list-style-image: url(../images/fin.png);
}

/* Live Help */
/* line 924, ../sass/screen.sass */
div.livehelp-container h5 {
  margin: 10px 0;
}
/* line 926, ../sass/screen.sass */
div.livehelp-container p {
  margin-bottom: 10px;
}
/* line 928, ../sass/screen.sass */
div.livehelp-container a:hover {
  text-decoration: none;
}

/* line 930, ../sass/screen.sass */
#floatLayer {
  float: none;
  position: absolute;
  left: 10px;
  top: 10px;
  visibility: hidden;
  z-index: 5000;
}
/* line 937, ../sass/screen.sass */
#floatLayer #InitiateText {
  position: relative;
  left: 30px;
  top: 145px;
  width: 275px;
  height: 35px;
  z-index: 5001;
  text-align: center;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: black;
}

/* Contact form */
/* line 952, ../sass/screen.sass */
#form-contact {
  border-radius: 5px;
  border: 1px solid #cccccc;
  padding: 40px;
  margin-bottom: 20px;
}
/* line 957, ../sass/screen.sass */
#form-contact .controls {
  margin-bottom: 10px;
  padding-bottom: 10px;
}
/* line 962, ../sass/screen.sass */
#form-contact .controls label.required:after {
  font-size: 1.2em;
  color: red;
  content: " *";
}
/* line 966, ../sass/screen.sass */
#form-contact .controls .errors {
  color: red;
}
/* line 968, ../sass/screen.sass */
#form-contact .controls .errors strong {
  color: red;
}

/* Blog */
/* line 975, ../sass/screen.sass */
#blog-list .post, #blog-post .post {
  clear: both;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #cccccc;
  float: left;
  width: 100%;
}
/* line 983, ../sass/screen.sass */
#blog-list .post header .date, #blog-post .post header .date {
  float: left;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  padding: 10px;
  text-align: center;
}
/* line 990, ../sass/screen.sass */
#blog-list .post header .date span, #blog-post .post header .date span {
  display: block;
  text-transform: capitalize;
}
/* line 993, ../sass/screen.sass */
#blog-list .post header .date span.day, #blog-post .post header .date span.day {
  font-size: 2em;
  display: block;
}
/* line 996, ../sass/screen.sass */
#blog-list .post header h3, #blog-post .post header h3 {
  font-size: 2em;
  margin-bottom: 10px;
}
/* line 999, ../sass/screen.sass */
#blog-list .post footer, #blog-post .post footer {
  float: right;
}
/* line 1001, ../sass/screen.sass */
#blog-list .readmore, #blog-post .readmore {
  margin: 0 10px;
  display: inline-block;
  border-bottom: 1px dashed #cccccc;
  padding-bottom: 3px;
}
/* line 1006, ../sass/screen.sass */
#blog-list .readmore:hover, #blog-post .readmore:hover {
  text-decoration: none;
}
/* line 1008, ../sass/screen.sass */
#blog-list .pagination, #blog-post .pagination {
  float: left;
  width: 100%;
}

/* line 1012, ../sass/screen.sass */
.author .avatar {
  float: left;
  margin-right: 10px;
}
/* line 1016, ../sass/screen.sass */
.author .bio h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
/* line 1019, ../sass/screen.sass */
.author .bio p {
  margin-bottom: 10px;
  padding-bottom: 0;
}
/* line 1022, ../sass/screen.sass */
.author .bio .links {
  text-align: right;
}
/* line 1024, ../sass/screen.sass */
.author .bio .links a {
  margin-bottom: 10px;
  text-decoration: none;
  display: inline-block;
  color: #333333;
  text-align: center;
  white-space: nowrap;
  margin-right: 10px;
}

/* line 1033, ../sass/screen.sass */
a.author {
  background: transparent url(../images/bg-author.png) no-repeat top left;
  padding-left: 20px;
  height: 16px;
}

/* line 1038, ../sass/screen.sass */
#fb_comments,
.fb_iframe_widget,
.fb_iframe_widget[style],
.fb_iframe_widget iframe[style],
#fb_comments iframe[style] {
  width: 100% !important;
}

/* line 1045, ../sass/screen.sass */
.fb-comments > span {
  width: 100% !important;
}

@media (min-width: 1200px) {
  /* line 2, ../sass/_1200min.sass */
  .jumbo {
    margin: 0 -60px 0 -60px;
    padding: 30px 60px;
  }

  /* line 5, ../sass/_1200min.sass */
  #services {
    padding: 30px 0;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 5, ../sass/_768min-979max.sass */
  .header .container .row [class*="span"] {
    width: 100%;
  }
  /* line 8, ../sass/_768min-979max.sass */
  .header .nav .navbar {
    padding-bottom: 20px;
  }

  /* line 10, ../sass/_768min-979max.sass */
  .jumbo {
    margin: 0;
    padding: 0;
  }

  /* line 16, ../sass/_768min-979max.sass */
  #form-contact input[type="text"], #form-contact textarea {
    width: 100%;
  }
}
@media (max-width: 767px) {
  /* line 4, ../sass/_767max.sass */
  .header .nav .navbar {
    padding-bottom: 20px;
  }

  /* line 6, ../sass/_767max.sass */
  .jumbo {
    margin: 0;
    padding: 30px 20px;
  }

  /* line 9, ../sass/_767max.sass */
  #services {
    padding: 30px 20px;
  }

  /* line 11, ../sass/_767max.sass */
  .content {
    border-top: 1px solid #e6e6e6;
    padding: 30px 20px;
  }

  /* line 15, ../sass/_767max.sass */
  footer .hr {
    margin-left: 0;
  }
  /* line 17, ../sass/_767max.sass */
  footer [class*="span"] .box {
    padding: 20px;
  }
  /* line 19, ../sass/_767max.sass */
  footer #copyright, footer #footnav {
    padding: 0 20px;
  }

  /* line 22, ../sass/_767max.sass */
  #form-contact input[type="text"], #form-contact textarea {
    width: 100%;
  }
}
@media (max-width: 480px) {
  /* line 4, ../sass/_480max.sass */
  .header .nav .navbar {
    padding-bottom: 20px;
  }

  /* line 6, ../sass/_480max.sass */
  #services {
    padding: 30px 0;
  }

  /* line 8, ../sass/_480max.sass */
  #form-contact {
    padding: 20px 40px 20px 25px;
  }
  /* line 10, ../sass/_480max.sass */
  #form-contact input[type="text"], #form-contact textarea {
    width: 100%;
  }
}
